@model IEnumerable<VehicleController.Models.Make>
@{
    ViewData["Title"] = "Index";
}

<h1>Makes</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Make Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody id="makeTableBody">
        @foreach (var make in Model)
        {
            <tr id="make-@make.Id">
                <td>@make.Name</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@make.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@make.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@make.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts {
    <script src="~/js/signalr/jquery-3.6.0.min.js"></script>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/makes.js"></script>
}